<template>
  <q-page class="flex flex-center relative-position">
    <div class="row full-width items-center justify-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <q-card
          :class="'border-'+connectionColor"
          class="relative-position bg-opacity q-pa-md custom-border-radius">
          <q-card-section v-if="!status.metamask">
            <div :class="waiting.connectingToWallet ? 'text-warning' : 'text-negative'" class="text-h6 text-bold">
              Wallet not found
            </div>
            <div class="text-subtitle2 text-bold">
              Please install the Metamask chrome extension and make sure it is enabled.
            </div>
          </q-card-section>
          <q-card-section v-else-if="(status.connected && !waiting.connectingToWallet)">
            <!--            <div class="text-h6">Connected: {{ status.connected }}</div>-->
            <div class="text-h6 row items-center q-my-sm">
              <q-icon :color="connectionColor" class="q-mr-sm" name="mdi-access-point-network" size="md"/>
              <span>Network: {{ networkName }}</span>
            </div>
            <div class="text-h6 row items-center q-my-sm text-wrap">
              <q-icon :color="connectionColor" class="q-mr-sm" name="mdi-wallet" size="md"/>
              <span>Address: </span>
              <div class="text-wrap full-width">{{ walletAddress }}</div>
            </div>
            <div class="text-h6 row items-center q-my-sm">
              <q-icon :color="connectionColor" class="q-mr-sm" name="mdi-transfer" size="md"/>
              <span>Mint price: {{ mintPriceInEth }}
              <q-icon name="mdi-ethereum" size="xs"/>
              </span>
            </div>
            <div class="text-h6 row items-center q-my-sm">
              <q-icon :color="connectionColor" class="q-mr-sm" name="mdi-currency-usd" size="md"/>
              <span>Your balance: {{ walletBalanceInEth }}
              <q-icon name="mdi-ethereum" size="xs"/>
              </span>
            </div>
            <div class="text-h6 row items-center q-my-sm">
              <q-icon :color="connectionColor" class="q-mr-sm" name="mdi-counter" size="md"/>
              <span>Supply: <span :class="remainingMints>0 ? 'text-teal':'text-negative'">
                {{ remainingMints }}</span> / {{ maxSupply }}
              </span>
              <div class="full-width q-px-sm q-py-none">
                <q-slider
                  v-model="remainingMints"
                  :min="0"
                  :max="maxSupply"
                  label
                  :color="remainingMints>0 ? 'teal':'negative'"
                  readonly
                />
              </div>
            </div>
          </q-card-section>
          <q-card-section v-else>
            <div :class="waiting.connectingToWallet ? 'text-warning' : 'text-negative'" class="text-h6 text-bold">
              {{ waiting.connectingToWallet ? 'Connecting' : 'Not connected' }}
            </div>
            <div class="text-subtitle2 text-bold">If your wallet is locked please unlock it.</div>
          </q-card-section>

          <!--          <q-card-section>-->
          <!--            <div>loading site: {{ waiting.loadingSite }}</div>-->
          <!--            <div>connecting to wallet: {{ waiting.connectingToWallet }}</div>-->
          <!--          </q-card-section>-->

          <q-separator class="q-mb-sm"/>

          <q-card-actions v-show="!waiting.loadingSite" class="row full-width justify-center">
            <q-btn
              v-if="!status.metamask"
              :color="$q.dark.isActive ? 'purple-11':'purple-8'"
              :loading="waiting.connectingToWallet"
              href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn"
              rounded
              icon="download"
              padding="10px 15px"
              label="Install wallet"
              target="_blank"/>
            <q-btn
              v-else-if="!status.connected || waiting.connectingToWallet"
              :loading="waiting.connectingToWallet"
              :color="waiting.connectingToWallet? 'warning' : 'secondary'"
              rounded
              icon="mdi-wallet"
              padding="10px 15px"
              label="Connect to wallet"
              @click="connectToWallet"/>
            <template v-else>
              <q-btn
                v-if="canMint && !status.mintIsDone"
                :loading="waiting.connectingToWallet || waiting.isMinting"
                class="q-ma-md"
                color="teal"
                rounded
                icon="mdi-checkbox-multiple-marked-circle"
                padding="10px 15px"
                style="min-width: 165px"
                label="Mint"
                @click="safeMint"/>
              <label v-else :class="`text-bold text-${canMintMessageType} text-h5 text-center`">
                {{ canMintMessage }}
              </label>
            </template>
          </q-card-actions>
        </q-card>
      </div>
    </div>
    <div v-show="waiting.loadingSite" class="absolute fit bg-blur">
      <lottie-player
        autoplay
        class="absolute-center container-padding-top"
        loop
        mode="normal"
        src="../animations/loading.json"
        style="height: 300px; width:320px;"
      ></lottie-player>
    </div>
    <lottie-player
      v-show="!waiting.loadingSite"
      autoplay
      class="absolute-center fit"
      loop
      mode="normal"
      src="../animations/background.json"
      style="z-index: -1"
    ></lottie-player>
    <div v-show="waiting.isMinting" class="absolute-center fit" style="z-index: -1">
      <q-spinner-bars class="absolute-center" color="cyan" size="25em" />
    </div>
  </q-page>
</template>

<script>
import {defineComponent, onMounted, ref, computed} from 'vue';
import Web3 from 'web3'
import {abi} from "src/artifacts/contracts/TestSmartContract.json";
// the import ia essential in order to use vue-lottie component 
import * as LottiePlayer from "@lottiefiles/lottie-player";
import {showErrorMessage, showSuccessMessage} from "src/helpers/notify";

export default defineComponent({
  name: 'PageIndex',
  setup() {
    let web3;
    const address = '0x9E6429BA7ACdB9103A0311e1740396F1608d2A7D';
    const {abi} = require('src/artifacts/contracts/TestSmartContract.json');

    let status = ref({
      connected: false,
      metamask: false,
      mintIsDone: false,
    });
    let waiting = ref({
      loadingSite: false,
      connectingToWallet: false,
      methodCall: false,
      checkingCanMint: false,
      isMinting: false
    })
    let walletAddress = ref();
    let walletBalanceInWei = ref();
    let walletBalanceInEth = ref();
    let networkName = ref();
    let contractInstance;
    let maxSupply = ref();
    let remainingMints = ref();
    let mintPriceInWei = ref();
    let mintPriceInEth = ref();
    let saleStarted = ref(false);
    let openToPublic = ref(false);
    let onWhiteList = ref(false);
    let hasMinted = ref(true);
    let canMintInit = ref(false);
    let canMintMessage = ref('');
    let canMintMessageType = ref('error');

    onMounted(async () => {
      if (window.ethereum) {
        status.value.metamask = true;
        waiting.value.loadingSite = true;
        web3 = new Web3(window.ethereum);

        window.ethereum.on('chainChanged', () => window.location.reload())
        window.ethereum.on('accountsChanged', async (accounts) => {
          if (accounts.length > 0) {
            console.log(`Using account ${accounts[0]}`)
            status.value.connected = true;
            await web3Init();
            await checkCanMint();
          } else {
            console.error('0 accounts.');
            status.value.connected = false;
          }
        })
        window.ethereum.on('message', (message) => console.log({message}))
        window.ethereum.on('connect', (info) => {
          console.log(`Connected to network ${info}`)
        })
        window.ethereum.on('disconnect', (error) => {
          console.log(`Disconnected from network ${error}`)
        })

        let accounts = await web3.eth.getAccounts();
        status.value.connected = !!accounts && accounts.length > 0;
        if (status.value.connected) {
          await web3Init();
          contractInstance = await new web3.eth.Contract(abi, address)
          await callInitMethods();
          await checkCanMint();
        }

        waiting.value.loadingSite = false;
      } else {
        status.value.metamask = false;
        console.log(`install metamask`)
      }
    })

    const connectionColor = computed(() => {
      if (waiting.value.loadingSite) {
        return 'transparent';
      } else if (waiting.value.connectingToWallet) {
        return 'warning';
      } else {
        return (status.value.connected ? 'secondary' : 'negative');
      }
    })
    const canMint = computed(() => {
      // check remaining mints and balance
      console.log('check can mint')
      if(status.value.mintIsDone){
        return false;
      }
      else if (canMintInit.value) {
        if (remainingMints.value <= 0) {
          canMintMessageType.value = 'error'
          canMintMessage.value = "Remaining mints is 0."
          return false;
        } else if (walletBalanceInWei.value < mintPriceInWei.value) {
          canMintMessageType.value = 'error'
          canMintMessage.value = "Your balance is not enough."
          return false;
        } else {
          canMintMessageType.value = 'success'
          canMintMessage.value = "You can mint."
          return true;
        }
      } else {
        // remaining messages are handling in checkCanMint method
        canMintMessageType.value = 'error'
        return false;
      }
    })

    const requestWalletConnection = async () => {
      return new Promise(async (resolve, reject) => {
        // const web3 = new Web3(window.ethereum)
        try {
          await window.ethereum.request({method: 'eth_requestAccounts'})
          resolve(web3)
        } catch (error) {
          reject(error)
        }
      })
    }
    const web3Init = async () => {
      let addresses = await web3.eth.requestAccounts();
      walletAddress.value = addresses[0];
      walletBalanceInWei.value = await web3.eth.getBalance(walletAddress.value);
      walletBalanceInEth.value = Math.round(Web3.utils.fromWei(walletBalanceInWei.value) * 1000) / 1000;
      networkName.value = await web3.eth.net.getNetworkType();
    }
    const callInitMethods = async () => {
      maxSupply.value = await getMaxSupply();
      remainingMints.value = await getRemainingMints();
      mintPriceInWei.value = await getMintPrice();
      mintPriceInEth.value = Math.round(Web3.utils.fromWei(mintPriceInWei.value) * 1000) / 1000;
    }
    const checkCanMint = async () => {
      waiting.value.checkingCanMint = true;
      saleStarted.value = await getSaleStarted();
      openToPublic.value = await getOpenToPublic();
      onWhiteList.value = await getOnWhiteList(walletAddress.value);
      hasMinted.value = await getHasMinted(walletAddress.value);
      console.log("walletAddress.value")
      console.log(walletAddress.value)
      console.log("saleStarted.value")
      console.log(saleStarted.value)
      console.log("openToPublic.value")
      console.log(openToPublic.value)
      console.log("onWhiteList.value")
      console.log(onWhiteList.value)
      console.log("hasMinted.value")
      console.log(hasMinted.value)
      if (saleStarted.value === true) {
        if (hasMinted.value === false) {
          if (openToPublic.value === true || onWhiteList.value === true) {
            canMintInit.value = true;
          } else {
            // dynamic conditions are checking in canMint computed property
            canMintMessage.value = "The public sale is not open, and you are not whitelisted for presale."
            canMintInit.value = false;
          }
        } else {
          canMintMessage.value = "You already have minted."
          canMintInit.value = false;
        }
      } else {
        canMintMessage.value = "Sale has not started yet."
        canMintInit.value = false;
      }
    }
    const connectToWallet = async () => {
      if (window.ethereum) {
        // window.ethereum.request({ method: 'eth_requestAccounts' })
        //   .then(() => console.log('connected eth_requestAccounts'))
        //   .catch((err) => console.error(err.message))
        waiting.value.connectingToWallet = true;
        try {
          web3 = await requestWalletConnection();
          await web3Init();
          contractInstance = await new web3.eth.Contract(abi, address)
          await callInitMethods();
          await checkCanMint();
        } catch (error) {
          console.error(error)
        } finally {
          waiting.value.connectingToWallet = false;
        }
        // await getMaxSupply();
      } else {
        console.log(`install metamask`)
      }
    }

    const getMaxSupply = async () => {
      waiting.value.methodCall = true;
      return new Promise(async (resolve, reject) => {
        contractInstance.methods.getMaxSupply().call()
          .then((result) => {
            console.log('getMaxSupply success')
            console.log(result)
            resolve(result);
          })
          .catch((err) => {
            console.log('getMaxSupply error')
            console.error(err.message)
            reject(err)
          })
          .finally(() => {
            waiting.value.methodCall = false;
          })
      })
    }
    const getRemainingMints = async () => {
      waiting.value.methodCall = true;
      return new Promise(async (resolve, reject) => {
        contractInstance.methods.getRemainingMints().call()
          .then((result) => {
            console.log('getRemainingMints success')
            console.log(result)
            resolve(result);
          })
          .catch((err) => {
            console.log('getRemainingMints error')
            console.error(err.message)
            reject(err)
          })
          .finally(() => {
            waiting.value.methodCall = false;
          })
      })
    }
    const getMintPrice = async () => {
      waiting.value.methodCall = true;
      return new Promise(async (resolve, reject) => {
        contractInstance.methods.getMintPrice().call()
          .then((result) => {
            console.log('getMintPrice success')
            console.log(result)
            resolve(result);
          })
          .catch((err) => {
            console.log('getMintPrice error')
            console.error(err.message)
            reject(err)
          })
          .finally(() => {
            waiting.value.methodCall = false;
          })
      })
    }
    const getSaleStarted = async () => {
      waiting.value.methodCall = true;
      return new Promise(async (resolve, reject) => {
        contractInstance.methods.getSaleStarted().call()
          .then((result) => {
            console.log('getSaleStarted success')
            console.log(result)
            resolve(result);
          })
          .catch((err) => {
            console.log('getSaleStarted error')
            console.error(err.message)
            reject(err)
          })
          .finally(() => {
            waiting.value.methodCall = false;
          })
      })
    }
    const getOpenToPublic = async () => {
      waiting.value.methodCall = true;
      return new Promise(async (resolve, reject) => {
        contractInstance.methods.getOpenToPublic().call()
          .then((result) => {
            console.log('getOpenToPublic success')
            console.log(result)
            resolve(result);
          })
          .catch((err) => {
            console.log('getOpenToPublic error')
            console.error(err.message)
            reject(err)
          })
          .finally(() => {
            waiting.value.methodCall = false;
          })
      })
    }
    const getOnWhiteList = async (address) => {
      waiting.value.methodCall = true;
      return new Promise(async (resolve, reject) => {
        contractInstance.methods.getOnWhiteList(address).call()
          .then((result) => {
            console.log(address)
            console.log('getOnWhiteList success')
            console.log(result)
            resolve(result);
          })
          .catch((err) => {
            console.log('getOnWhiteList error')
            console.error(err.message)
            reject(err)
          })
          .finally(() => {
            waiting.value.methodCall = false;
          })
      })
    }
    const getHasMinted = async (address) => {
      waiting.value.methodCall = true;
      return new Promise(async (resolve, reject) => {
        contractInstance.methods.getHasMinted(address).call()
          .then((result) => {
            console.log('getHasMinted success')
            console.log(result)
            resolve(result);
          })
          .catch((err) => {
            console.log('getHasMinted error')
            console.error(err.message)
            reject(err)
          })
          .finally(() => {
            waiting.value.methodCall = false;
          })
      })
    }
    const safeMint = async () => {
      if (canMint.value === true) {
        waiting.value.isMinting = true;
        return new Promise(async (resolve, reject) => {
          contractInstance.methods.safeMint()
            .send({gas: '1000000', from:walletAddress.value, value:mintPriceInWei.value})
            .then((result) => {
              console.log('safeMint success')
              console.log(result)
              status.value.mintIsDone = true;
              canMintMessageType.value = 'success';
              canMintMessage.value = 'You minted successfully.'
              showSuccessMessage('You minted successfully.')
              resolve(result);
            })
            .catch((err) => {
              console.log('safeMint error')
              console.error(err.message)
              if(err && err.message) {
                showErrorMessage(err.message)
              }
              reject(err)
            })
            .finally(async () => {
              remainingMints.value = await getRemainingMints();
              await web3Init();
              waiting.value.isMinting = false;
            })
        })
      }
    }

    return {
      status,
      waiting,
      walletAddress,
      walletBalanceInWei,
      walletBalanceInEth,
      networkName,
      maxSupply,
      remainingMints,
      mintPriceInWei,
      mintPriceInEth,
      saleStarted,
      openToPublic,
      onWhiteList,
      hasMinted,
      canMintInit,
      canMintMessage,
      canMintMessageType,
      connectionColor,
      canMint,
      requestWalletConnection,
      web3Init,
      callInitMethods,
      checkCanMint,
      connectToWallet,
      getMaxSupply,
      getRemainingMints,
      getMintPrice,
      getSaleStarted,
      getOpenToPublic,
      getOnWhiteList,
      getHasMinted,
      safeMint
    }
  }
})
</script>
