// app global css in SCSS form
.text-wrap{
  word-wrap: break-word;
}
.bg-blur {
  -webkit-backdrop-filter: saturate(180%) blur(11px);
  backdrop-filter: saturate(180%) blur(11px);
}
.bg-opacity {
  opacity: 0.9;
}
.custom-border-radius{
  border-radius: 5px 50px;;
}
.border-secondary{
  border-bottom: $secondary solid 4px;
  border-top: $secondary solid 4px;
}
.border-warning{
  border-bottom: $warning solid 4px;
  border-top: $warning solid 4px;
}
.border-negative{
  border-bottom: $negative solid 4px;
  border-top: $negative solid 4px;
}
.text-success{
  background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-error{
  background: -webkit-linear-gradient(315deg,$pink-4 25%,$pink-14);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-dark-page{
  background: var(--q-dark-page) !important;
}
