<template>
  <q-layout view="lHh Lpr lFf">
    <q-header :class="$q.dark.isActive ? 'bg-dark-page':'bg-white'" elevated>
      <q-toolbar>
        <q-btn
          :color="$q.dark.isActive ? 'purple-11':'purple-8'"
          aria-label="Menu"
          dense
          flat
          icon="menu"
          round
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title class="text-bold" :class="$q.dark.isActive ? 'text-purple-11':'text-purple-8'">
          Minting sample
        </q-toolbar-title>

        <q-toggle
          v-model="appTheme"
          :color="appTheme ? 'amber' : 'purple-11'"
          checked-icon="mdi-brightness-7"
          class="text-purple-8"
          keep-color
          unchecked-icon="mdi-brightness-2"
          @update:model-value="toggleTheme"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      class="overflow-hidden relative-position"
      :bordered="!$q.dark.isActive"
      show-if-above
    >
      <q-scroll-area style="height: calc(100% - 300px); margin-bottom: 300px;">
        <q-list>
          <q-item-label
            :class="$q.dark.isActive ? 'text-purple-11' : 'text-purple-8'"
            header
          >
            Essential Links
          </q-item-label>

          <EssentialLink
            :class="$q.dark.isActive ? 'text-purple-11' : 'text-purple-8'"
            v-for="link in essentialLinks"
            :key="link.title"
            v-bind="link"
          />
        </q-list>
      </q-scroll-area>
      <lottie-player
        autoplay
        class="absolute-bottom"
        loop
        mode="normal"
        src="../animations/drawer.json"
        style="width: 100%; height: 300px;"
      ></lottie-player>
    </q-drawer>

    <q-page-container class="relative-position">
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksList = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'https://quasar.dev'
  },
  {
    title: 'Github',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'chat.quasar.dev',
    icon: 'chat',
    link: 'https://chat.quasar.dev'
  },
  {
    title: 'Forum',
    caption: 'forum.quasar.dev',
    icon: 'record_voice_over',
    link: 'https://forum.quasar.dev'
  },
  {
    title: 'Twitter',
    caption: '@quasarframework',
    icon: 'rss_feed',
    link: 'https://twitter.quasar.dev'
  },
  {
    title: 'Facebook',
    caption: '@QuasarFramework',
    icon: 'public',
    link: 'https://facebook.quasar.dev'
  },
  {
    title: 'Quasar Awesome',
    caption: 'Community Quasar projects',
    icon: 'favorite',
    link: 'https://awesome.quasar.dev'
  }
];

import {defineComponent, ref} from 'vue'
import {useQuasar} from 'quasar'

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup() {
    // initializations
    const $q = useQuasar();
    const leftDrawerOpen = ref(false)
    let appTheme = ref(true);
    let dark = JSON.parse(localStorage.getItem('dark'));

    // created hook
    if (dark !== undefined && dark !== null) {
      appTheme.value = !dark;
      $q.dark.set(dark);
    } else {
      appTheme.value = true;
      $q.dark.set(false);
    }

    // methods
    const toggleLeftDrawer = (value) => {
      leftDrawerOpen.value = !leftDrawerOpen.value
    }
    const toggleTheme = (value) => {
      $q.dark.set(!value);
      localStorage.setItem("dark", JSON.stringify(!value));
    }
    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      appTheme,
      toggleLeftDrawer,
      toggleTheme
    }
  }
})
</script>
